<div class="container">
   <form id="filter" class="form-group">
      <label>Filter Book Name</label>
      <input class="form-control" type="text" [ngModelOptions]="{standalone:true}" [(ngModel)]="term" />     
   </form>
   
    <table class="table table-dark table-striped table-hover">
       <thead>
          <tr>
            <th>ID</th>
            <th>Book Name</th>
          </tr>
          
       </thead>
       <tbody>
       <tr *ngFor="let book of data | paginate:{id:'listing_pagination',
          itemsPerPage:10,
          currentPage:page,
          totalItems:totalRecord
          } | filter:term">
          <td>{{book.id}}</td>
          <td><a style="color: white;cursor: pointer;" (click)="viewDetails(book)">{{book.title}}</a></td>
       </tr>
      </tbody>
    </table>
    <div>
       <pagination-controls id='listing_pagination' maxSize="5" directionLinks="true" (pageChange)="page=$event">
       </pagination-controls>
    </div>
 </div>