<div class="container">

<table class="table table-dark table-striped table-hover"  *ngIf="getId(bookId)">
    <thead>
        <tr>
            <th>Property</th>
        <th>Details</th>
        </tr>
        
    </thead>
    <tbody>
    <tr>
        <td>Title</td>
        <td>{{book.title}}</td>
    </tr>
    <tr>
        <td>Authors</td>
        <td>{{book.authors}}</td>
    </tr>
    <tr>
        <td>ISBN</td>
        <td>{{book.isbn}}</td>
    </tr>
    <tr>
        <td>Quantity</td>
        <td>{{book.quantity}}</td>
    </tr>
</tbody>
</table>
</div>


<router-outlet></router-outlet>